h2 {
  font-size: 1.75rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

.view-person header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}

.view-person .points {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  gap: 1.75rem;
  line-height: 1.25;
}

.view-person .points .number {
  display: block;
  font-weight: bold;
  font-size: 2.25rem;
}

.view-person .points .number sup {
  font-size: 0.45em;
  font-weight: normal;
}
