.person-lists {
  margin-top: 2rem;
}

.person-lists fieldset {
  border: none;
  border-bottom: solid 0.1rem var(--bg-colour-overlay);
  padding: 0 0 0.5rem;
  margin: 1rem 0;
}

.person-lists legend {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
  line-height: 1.25;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  gap: 1rem;
}

.person-lists legend .list-name {
  color: var(--logo-colour);
}

.person-lists legend .list-name small {
  font-weight: normal;
  color: var(--text-colour);
  opacity: 0.85;
}

.person-lists legend .list-name small:before {
  margin: 0 0.35em 0 0.25em;
  content: "-";
}

.person-lists legend .list-progress,
.person-lists legend .list-toggle {
  flex: 0 0 auto;
}

.person-lists legend .list-toggle {
  background: transparent;
  padding: 0.05em 0.35em 0.25em;
  color: white;
  border: solid 0.1em var(--border-colour-inactive);
  line-height: 1.15;
  border-radius: 0.5em;
  min-width: 1.65em;
  text-align: center;
  cursor: pointer;
}

.person-lists legend .list-toggle:hover,
.person-lists legend .list-toggle:focus {
  border: solid 0.1em var(--border-colour-active);
  background: var(--bg-colour-overlay);
}

.person-lists legend .list-progress {
  margin-left: auto;
}

.person-lists .items-in-list {
  font-size: 0.875em;
  font-style: italic;
  margin-top: -0.35em;
  margin-bottom: 0.25em;
  opacity: 0.85;
}

.person-lists .item {
  position: relative;
  margin: 0.5rem 0;
}

.person-lists .item:last-child {
  margin-bottom: 1.25rem;
}

.person-lists .item input[type="checkbox"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.person-lists .item .checkbox {
  display: flex;
  cursor: pointer;
  padding: 0.25rem 1.5rem 0.25rem;
  border: solid 0.1em var(--border-colour-inactive);
  background: var(--bg-colour-overlay-light);
  border-radius: 0.75rem;
  justify-content: flex-start;
  align-items: center;
  gap: 1.75rem;
}

.person-lists .item .checkbox .icon {
  font-weight: bold;
  font-size: 2em;
  flex: 0 0 2rem;
  opacity: 0.05;
}

.person-lists .item .checkbox .text {
  font-size: 1em;
}

.person-lists .item .checkbox .text > * {
  display: block;
}

.person-lists .item .checkbox .text > span {
  font-weight: 500;
}

.person-lists .item .checkbox .text > small {
  margin: 0.25em 0 0.75em;
  font-size: 0.65em;
  line-height: 1.35;
  font-style: italic;
  opacity: 0.85;
}

.person-lists .item .checkbox:hover,
.person-lists .item input[type="checkbox"]:focus + .checkbox {
  background: var(--bg-colour-overlay);
  border-color: var(--border-colour-active);
}

.person-lists .item input[type="checkbox"]:checked + .checkbox {
  background: var(--checked-bg-colour) !important;
  border-color: var(--checked-border-colour) !important;
}

.person-lists .item input[type="checkbox"]:checked + .checkbox .icon {
  opacity: 1;
}

.person-lists .item .checkbox:active,
.person-lists .item input[type="checkbox"]:active + .checkbox {
  transform: scale(1.015);
}
