.app > main,
.app > nav {
  padding: 1rem 2rem;
}

.app > nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1.25rem;
}

.app > nav p {
  opacity: 0.85;
}

.app > nav p:after {
  content: "|";
  opacity: 0.25;
  margin-left: 1.25rem;
  padding: 0 0.5rem;
}

.app > nav a {
  font-weight: bold;
  text-decoration: none;
}

.app > nav a:hover,
.app > nav a:focus,
.app > nav a[aria-current="page"] {
  text-decoration: underline;
}

.app > nav a[aria-current="page"] {
  color: var(--link-hocus-colour);
}
